*.RData
.Rhistory
.Rproj.user/
*~
.DS_Store
*.Rproj
.RDataTmp*
cv_notes.pdf
jobs/
output/
ideas
test_images/
temp_output/
my_cv_data/
my_resume_data/
my_resume_data_test/
my_cv_data_test/
.env
logs/
*_data/
tailored_json/
